@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --color-background: #fafafa;
  --color-surface: #ffffff;

  --color-primary: #db3a01;
  --color-primary-light: #f76707;
  --color-primary-dark: #b91c1c;

  --color-secondary: #c2410c;

  --color-text-main: #1a1918;
  --color-text-muted: #52525b;

  --color-border: #e4e4e7;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }

  .font-artistic {
    font-family: var(--font-artistic), cursive !important;
  }

  .font-modern {
    font-family: var(--font-modern), sans-serif !important;
  }

  @keyframes scroll {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-infinite-scroll {
    animation: scroll 30s linear infinite;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text-main font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-semibold text-text-main;
}
